
<div class="admin">
<form action="/admin" method="POST" id="form3" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Usuario Administrador</h2>
    </div>
   <form action="/añadir" method="POST" class="container-sm">
        <div class="mb-3 form-check">
            <input type="submit" class="btn btn-primary" value="Añadir palabra">
        </div>
    </form>
    <div class="mb-3 form-group">
         <button type="button" class="btn btn-primary">Editar palabra</button>
    </div>
        <div class="mb-3 form-group">
        <button type="button" class="btn btn-primary">Eliminar palabra</button>
    </div>

</form>
</div>
