<div id="admin" id="admin" class="container-sm" >
        <div class="mb-3 form-group">
        <h2>Usuario Administrador</h2>
        </div>
        <form action="/add" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="btn btn-primary" id="new" value="Añadir palabra">
            </div>
        </form>
        <form action="/editar" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="btn btn-primary" id="edit" value="Editar palabra">
            </div>
        </form>
        <form action="/delete" method="GET" class="container-sm">
            <div class="mb-3 form-group">
                <input type="submit" class="btn btn-primary" id="delete" value="Eliminar palabra">
            </div>
        </form>
</div>
