<form action="/admin" method="POST" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Pagina de registro</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="addid" class="form-label">Agregar palabra</label>
        <input type="text" class="form-control" id="addword" name="addword" value="" placeholder="Añadir palabra">
    </div>
    <div class="mb-3 form-group">
        <label for="editid" class="form-label">Editar palabra</label>
        <input type="text" class="form-control" id="editword" name="editword" value="" placeholder="Editar palabra">
    </div>
        <div class="mb-3 form-group">
        <label for="deleteid" class="form-label">Eliminar palabra</label>
        <input type="text" class="form-control" id="deleteword" name="deleteword" value="" placeholder="borrar palabra">
    </div>

</form>