<div class="add">
<form action="/add" method="POST" id="añadir" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Añadir palabra</h2>
    </div>
    <div class="mb-3 form-group">
            <label for="idadd" class="form-label">ID de la palabra</label>
            <input type="text" class="form-control" id="idaddpalabra" name="editarpalabra" value="" placeholder="Ingrese el ID de la palabra">
        </div>
        <div class="mb-3 form-group">
            <label for="palabraadd" class="form-label">Palabra</label>
            <input type="text" class="form-control" id="addpalabra" name="addpalabra" value="" placeholder="Ingrese la palabra">
        </div>
        <div class="mb-3 form-group">
            <label for="cantidadDeLetras" class="form-label">Cantidad de letras</label>
            <input type="text" class="form-control" id="cantletras" name="cantletras" value="" placeholder="Ingrese la cantidad de letras">
        </div>
    <div class="mb-3 form-group">
            <input type="button" class="btn btn-primary" onclick="add()" value="Añadir palabra">
        </div>
    
</form>
</div>
