<div class="delete">
<form action="/deletee" method="POST" id="delete" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Borrar palabra</h2>
    </div>
    <div class="mb-3 form-group">
                    <h3>Burcar palabara para borrar</h3>                    
                    <div class="form-group">
                        <label for="searchByContent">Buscar palabra</label>
                        <input class="form-control" type="text" id="searchword" onkeyup="searchWord()">
                    </div>
                    <div id="divTabla">

                    </div>
                </div>
    <div class="mb-3 form-group">
            <label for="idadd" class="form-label">ID de la palabra</label>
            <input type="text" class="form-control" id="iddeletepalabra" name="borrarpalabra" value="" placeholder="Ingrese el ID de la palabra">
        </div>
        <div class="mb-3 form-group">
            <label for="palabraañadir" class="form-label">Borrar palabra</label>
            <input type="button" class="form-control" id="borrarpalabra" name="borrarpalabra" value="" placeholder="Borrar palabra">
        </div>
</form>
</div>