<div class="editar">
<form action="/edit" method="POST" id="editar" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Editar palabra</h2>
    </div>
    <div class="mb-3 form-group">
                    <h3>Burcar palabara para editar</h3>                    
                    <div class="form-group">
                        <label for="searchByContent">Buscar palabra</label>
                        <input class="form-control" type="text" id="searchword" onkeyup="searchWord()">
                    </div>
                    <div id="divTabla">

                    </div>
                </div>
         <div class="mb-3 form-group">
            <label for="idadd" class="form-label">ID de la palabra</label>
            <input type="text" class="form-control" id="idnewpalabra" name="editarpalabra" value="" placeholder="Ingrese el ID de la palabra">
        </div>
        <div class="mb-3 form-group">
            <label for="palabraañadir" class="form-label">Nueva Palabra</label>
            <input type="text" class="form-control" id="nuevapalabra" name="nuevapalabra" value="" placeholder="Ingrese la nueva palabra">
        </div>
        <div class="mb-3 form-group">
            <label for="cantidadDeLetras" class="form-label">Cantidad de letras</label>
            <select name="cantidadDeLetras" id="Newselectcant">
            <option value = 4>4</option>
            <option value = 5>5</option>
            <option value = 6>6</option>
            <option value = 7>7</option>
            </select>
        </div>
    <div class="mb-3 form-group">
            <input type="button" class="btn btn-primary" onclick="edit()" value="Editar palabra">
        </div>
    
</form>
</div>
