
<div class="notepad">
        <h1 id="title">Wordle</h1>
        <hr style="width:100px; margin: auto;" />
        <br>
<div id="tablero">
        <div class="column1">
            <div class="tile">
            </div>
            <div class="tile">
            </div>
            <div class="tile">
            </div>
            <div class="tile">
            </div>
            
        </div>
        <div class="column2">
            <div class="tile">
            </div>
            <div class="tile">
            </div>
            <div class="tile">
            </div>
            <div class="tile">
            </div>
        </div>
        <div class="column3">
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
        </div>
        <div class="column4">
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
        </div>
        <div class="column5">
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
        </div>
        <div class="column6">
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
             <div class="tile">
            </div>
        </div>

</div>

        <br>
        <h1 id="answer"></h1>
</div>
        
