
<div class="notepad">
        <h1 id="title">Wordle</h1>
        <hr style="width:100px; margin: auto;" />
        <br>
<div id="tablero">
            <div id="tile">
            </div>
            <div id="tile">
            </div>
            <div id="tile">
            </div>
            <div id="tile">
            </div>
            <div id="tile">
            </div>
            <div id="tile">
            </div>
            <div id="tile">
            </div>
            <div id="tile">
            </div>

</div>

        <br>
        <h1 id="answer"></h1>
</div>
        
