
<div id="login">
    <form action="/login" method="PUT" id="form1" class="container-sm">
    
            <h2>Iniciar sesion</h2>
        <div class="mb-3 form-group">
            <label for="usuarioId" class="form-label"></label>
            <input type="text" class="typelogin" id="usuarioId" name="usuario" value="" placeholder="Usuario">
        </div>
        <div class="mb-3 form-group">
            <label for="passwordId" class="form-label"></label>
            <input type="password" class="typelogin" id="passwordId" placeholder="Contraseña">
        </div>
        <div class="mb-3 form-check">
            <input type="button" class="buttonlogin" onclick="login()" value="Ingresar">
        </div>
    </form> 
    <form action="/registrer" method="GET" class="container-sm">
        <div class="mb-3 form-check">
            <input type="submit" class="buttonlogin" value="Registrarse">
        </div>
    </form>  
</div>
<div id="admin" style="display: none">
        <div class="mb-3 form-group">
        <h2>Usuario Administrador</h2>
        </div>
        <form action="/add" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="buttonadmin" id="newbutton" value="Añadir palabra">
            </div>
        </form>
        <form action="/editar" method="GET" class="container-sm">
            <div class="mb-3 form-check">
                <input type="submit" class="buttonadmin" id="editbutton" value="Editar palabra">
            </div>
        </form>
        <form action="/delete" method="GET" class="container-sm">
            <div class="mb-3 form-ckeck">
                <input type="submit" class="buttonadmin" id="deletebutton" value="Eliminar palabra">
            </div>
        </form>
</div>


    
    







