
<form action="/login" method="POST" id="form1" class="container-sm">
<div class="login">
        <h2>Iniciar sesión</h2>
    <div class="mb-3 form-group">
        <label for="usuarioId" class="form-label"></label>
        <input type="text" class="form-control" id="usuarioId" name="usuario" value="" placeholder="Usuario">
    </div>
    <div class="mb-3 form-group">
        <label for="passwordId" class="form-label"></label>
        <input type="password" class="form-control" id="passwordId" placeholder="Contraseña">
    </div>
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" onclick="login()" value="Ingresar">
    </div>
</form> 
<form action="/registrer" method="GET" class="container-sm">
    <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" value="Registrarse">
    </div>
</form>  
</div>







