
<div class="regist">
    <form action="/registrer" method="POST" id="form2" class="container-sm">
        <div class="mb-3 form-group">
            <h2>Pagina de registro</h2>
        </div>
        <div class="mb-3 form-group">
            <label for="dniidd" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dniR" name="dni" value="" placeholder="Ingrese su DNI">
        </div>
        <div class="mb-3 form-group">
            <label for="usuarioId" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuarioR" name="usuario" value="" placeholder="Ingrese un usaurio">
        </div>
        <div class="mb-3 form-group">
            <label for="passwordId" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="passwordR" name="password" value="" placeholder="Ingrese una Contraseña">
        </div>
        <div class="mb-3 form-group">
            <label for="nombreid" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreR" name="nombre" value="" placeholder="Ingrese tu nombre">
        </div>
            <div class="mb-3 form-group">
            <label for="apellidoid" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellidoR" name="apellido" value="" placeholder="Ingrese tu apellido">
        </div>
        <div class="mb-3 form-check">
            <input type="button" class="btn btn-primary" onclick="registro()" value="Crear cuenta">
        </div>

    </form>
</div>