<form action="/registrer" method="POST" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Pagina de registro</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="dniidd" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dniid" name="dni" value="" placeholder="Ingrese su DNI">
    </div>
    <div class="mb-3 form-group">
        <label for="nombreid" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombreid" name="nombre" value="" placeholder="Ingrese tu nombre">
    </div>
        <div class="mb-3 form-group">
        <label for="apellidoid" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellidoid" name="apellido" value="" placeholder="Ingrese tu apellido">
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioId" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuarioId" name="usuario" value="" placeholder="Ingrese un usaurio">
    </div>
    <div class="mb-3 form-group">
        <label for="passwordId" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordId" name="password" value="" placeholder="Ingrese una Contraseña">
    </div>
        <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" value="Crear cuenta">
    </div>

</form>