.header {
    height: 42px;
    background-color: rgb(136, 224, 128);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;
    
}

.login {
    background-color: rgb(255, 255, 255);
    font-family: roboto;
    margin-top: 100px;
    text-align: center;
    border-style: solid;
    border-color:rgb(69, 82, 68);
    font-size: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #6aaa64;
    background-image: url('https://fondosmil.com/fondo/31827.jpg');
}




#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

#tablero{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display:flex;
    flex-wrap: wrap;
}

.tile{
    /*box*/
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /*text*/
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.correct{
    background-color: #6aaa64;
    color: white;
    border-color: white;
}

.present{
    background-color: #c9b458;
    color: white;
    border-color: white;
}

.absent{
    background-color: #787c7e;
    color: white;
    border-color: white;
}
